<style>
    footer {
    background-color: #003366;
    padding: 0.5rem 0;
    text-align: center;
    color: #fff;
    bottom: 0;
    width: 100%;
}
</style>
<footer>
    <h4>Lizarraga Acosta Jose Yair Todos los derechos reservados</>
</footer>