body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

h2 {
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

form {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

form div {
    margin-bottom: 25px;
}

label {
    font-weight: bold;
    color: #555;
}

input[type="text"],
input[type="number"],
select {
    width: calc(100% - 20px);
    padding: 12px;
    border: 2px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="number"]:focus,
select:focus {
    border-color: rgb(15, 15, 102);
}

button {
    padding: 12px 30px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: rgb(80, 80, 232);
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;
    margin-top: 30px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: rgb(83, 83, 239);
}

th, td {
    padding: 15px;
    text-align: center;
    border-bottom: 2px solid #ddd;
    background-color: #fff;
    border-radius: 8px;
}

th {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 6px 6px 0 0;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #ddd;
}

tbody td {
    background-color: #f8f8f8;
    border-radius: 0 0 8px 8px;
}

tbody tr:hover td {
    background-color: #e0e0e0;
}
